[2019-11-05 09:05] happy1610 commented on #215
first look seems like this, I review the scripts, it's stable.
And I do many times to re-run test with having screenshot mechanism => always fail test with NoSuchElementException
But when I remove screenshot mechanism, test always pass with correct flow T.T hix

[2019-11-05 10:01] wakaleo commented on #215
Screenshots can slow down test execution and reveal timing issues in the tests that wouldn’t usually be apparent.

[2019-11-05 10:04] happy1610 commented on #215
I also try to add wait time but not work, seem this issue is serious, so what should we do now? hichic. now, I workaround by remove screenshot mechanism.

[2019-11-05 10:21] wakaleo commented on #215
You will need to fix the timing issues in your tests. You can disable screenshots but that is not really a solution to your problem

[2019-11-05 10:22] happy1610 commented on #215
timing issues => you mean wait time for element showing?

[2019-11-05 10:40] wakaleo commented on #215
Waiting for the element to be accessible yes, but there is more to timing than just wait times

[2019-11-05 10:50] happy1610 commented on #215
thank you @wakaleo

[2019-11-05 12:40] nbarrett commented on #215
Here's a thought @happy1610 - I wonder whether your test relies on the very slightly slower performance of the test when running in 'screenshot everything' mode? If so, then you could:
* change your step to use an expected condition (recommended) to ensure that the required element you wish to interact with is visible or
* increase your default implicit wait time (not quite as recommended)

[2019-11-06 11:32] qaschevychelov opened #216 "How can i run feature files with testng suite xml in parallel?"
Hi!
I've faced such problem:
I'm using 'cucumber-jvm-parallel-plugin' for parallel running feature files. But this approach create JVM per test runner. I decided to use testNG suite xml file, in which i link test runners.
But in test runner i need to initialize TestNGCucumberRunner.

If i pass this.getClass() in the TestNGCucumberRunner constructor, then it will throw "[TestNG] WARN cucumber.runti

[2019-11-06 12:07] wakaleo commented on #216
Serenity will only work with the JUnit runner

[2019-11-06 14:16] qaschevychelov commented on #216
i managed to run tests with testng suite xml. I removed a line "@RunWith(CucumberWithSerenity.class)" and pass this.getClass() in the TestNGCucumberRunner constructor. All scenarios go to the Selenium Grid hub. But the hub passes all scenarious to one appium node every time.
If i use parallel approach with "cucumber-jvm-parallel-plugin", then selenium grid hub passes scenarious correctly to nodes.

[2019-11-06 14:16] #216 closed

[2019-11-06 14:30] wakaleo commented on #216
I'm not sure if this will work - the CucumberWithSerenity sets up Serenity, so if you don't have it, Serenity won't be enabled. Does the `this.getClass()` replace this?

[2019-11-06 17:29] qaschevychelov commented on #216
No
this.getClass() refers to Cart class. Cart is a testNG runner. In this class i use methods with following annotations: @BeforeClass @Test @DataProvider @AfterClass (from testNG).
DataProvider method (barcodes) return all feature files from path "src/test/resources/features/cart" into the method with Test annotation. And @Test method run all scenarious in all feature files.
I investegated that w

[2019-11-17 17:49] sdas020 commented on #159
this is my build.gradle  .. Same problem I am facing "java.lang.NoSuchMethodError: cucumber.runtime.RuntimeOptions.getFilters()Ljava/util/List"..     Please help me

/*
 * This file was generated by the Gradle 'init' task.
 *
 * This generated file contains a sample Java Library project to get you started.
 * For more details take a look at the Java Libraries chapter in the Gradle
 * User Manual a

[2019-11-17 17:52] wakaleo commented on #159
You have a mixture of serenity versions, all quite old. Use the versions recommended on the link above.

[2019-11-23 10:22] sdas020 commented on #159
Thanks @wakaleo problem got solved . Now I am not been able to execute API scenario.
Error log

net.serenitybdd.core.exceptions.SerenityManagedException
	at net.serenitybdd.rest.utils.RestDecorationHelper.decorate(RestDecorationHelper.java:20)
	at net.serenitybdd.rest.SerenityRest.given(SerenityRest.java:216)
	at test1.API_Testing.API_Demo(API_Testing.java:51)
	at test1.API_Testing$ByteBuddy$Lkp8W

[2019-11-23 10:22] sdas020 commented on #159
unable to execute the line
" given().headers(obj).when().get("http://jsonplaceholder.typicode.com/posts");"

[2019-12-11 12:05] ortsevlised opened #217 "Report - Cucumber: Test counter is not right when using tags on the example table"
Hi, I'm running a test using serenity with cucumber where I use **different tags in the example section.**
im running it with this arguments **-Dcucumber.options="--tags @firstTag**"

When I generate the reports the counter shows the total number including both tags instead the only one ran.

Ie:
[code]

![serenity1](https://user-images.githubusercontent.com/10546239/70619947-e88e1680-1c0d-11ea-9b

[2019-12-11 12:12] wakaleo commented on #217
Filtering by tags in tables isn’t supported yet.

[2019-12-11 12:32] ortsevlised commented on #217
Thanks for such a quick response, is it planned to be supported any time soon? again thanks!

[2019-12-11 13:31] LalithVigneshS opened #218 "In Serenity -> How to handle multiple scenario outlines inside a single feature file."
My feature file is as such hitting 2 consecutive API's to get the response and validate using the response in the webportal whether record is created or not.

I am using 2 scenario outlines to pass the request payload for the API's.

As there are many combinations of passing the test data, i am not able to tweak with the existing cucumber logic of running the first scenario outlines with all the t

[2019-12-23 20:47] AlejandroCardenas13 opened #219 "Slowdown in Serenity versioning"
Hi, we are currently using version 2.0.30 for Serenity libraries (Core, jUnit, ScreenPlay, ScreenPlay WebDriver) and version 1.9.4 for Serenity Cucumber, we are currently stuck in these versions because when we update the versions we see that automation becomes too slow.
Example :
Two scenarios executed with version 2.0.30 :

![image](https://user-images.githubusercontent.com/47247783/71379901-2c3

[2019-12-31 05:25] jojothomas007 commented on #143
I could reproduce the issue. If feature file name contains of period(.), features get duplicated in the home page of serenity report.

Example : 1.2_upload_file.feature
If the file name is changed to  1-2_upload_file.feature, then the duplication won't happen. Hope this information helps

[2020-01-06 02:01] Joekannan commented on #168
@apulido15 - May I please know have you achieved parallel execution using cucumber(junit)+appium+serenity combination. If yes, could you please help me to implement this.

[2020-01-06 06:56] wakaleo commented on #168
It is best to ask this question on the Rocket Chat community - some people there have worked with parallel testing with Appium.

[2020-01-06 14:59] qaschevychelov commented on #168
@Joekannan , i managed to configure parallel execution with Appium + Serenity BDD + cucumber parallel jvm plugin + Selenium Grid.
It's tricky approach and it works good. You can attach as many devices as your host machine can handle.
Can we contact somehow? (skype or something else) I'll show you my approach. It's too long to describe here the whole approach

[2020-01-07 01:17] Joekannan commented on #168
@qaschevychelov  - Thank you for your reply. My skype id is **jothi2k9**
I am in time zone of GMT+13. Please let me know when it is possible to connect with you.

[2020-01-10 11:40] vvarigonda opened #220 "java.lang.NoSuchMethodError: cucumber.runtime.RuntimeOptions.getTagFilters()Ljava/util/List"
Hi guys

Unable to fix this problem on my MAC. Please help me.Edited POM.xml following other blogs,still same error.
`/Library/Java/JavaVirtualMachines/jdk1.8.0_231.jdk/Contents/Home/bin/java -ea -DnodeNamesHandler=AsText -Didea.test.cyclic.buffer.size=1048576 "-javaagent:/Applications/IntelliJ IDEA.app/Contents/lib/idea_rt.jar=55655:/Applications/IntelliJ IDEA.app/Contents/bin" -Dfile.encoding=UT

[2020-01-10 11:42] qaschevychelov commented on #220
Hi!
Can you share yourk testRunner class?

[2020-01-10 11:48] vvarigonda commented on #220
`package Com.qa.runner;
import org.junit.runner.RunWith;

import cucumber.api.CucumberOptions;
import cucumber.api.junit.Cucumber;

@RunWith(Cucumber.class)
@CucumberOptions(features="java/Com/qa/features/Login.feature",
				glue={"Com/qa/steps/LoginPageSteps.java"},
						format= {"pretty","html:test-output", "json:json_output/cucumber.json", "junit:junit_xml/cucumber.xml"}, //to generate differe

[2020-01-10 11:59] wakaleo commented on #220
This looks like a Cucumber question - that doesn’t look like a Serenity project

[2020-01-10 12:01] vvarigonda commented on #220
Sorry posted in wrong group. Can we move to cucumber group?

[2020-01-10 12:01] qaschevychelov commented on #220
If you use Serenity BDD you need to set annotation like this
@RunWith(CucumberWithSerenity.class)
public class TestRunner {

[2020-01-10 12:19] vvarigonda commented on #220
Thanks @qaschevychelov
@wakaleo If you mind sharing link for cucumber forum

[2020-01-27 02:49] kpkalyan commented on #207
Serenity report is showing the features and specifications details after updating the dependencies as below,

============
build.gradle
============
repositories {
     mavenCentral()
    jcenter()
}

buildscript {
    repositories {
        mavenLocal()
        jcenter()
    }
    dependencies {
        classpath("net.serenity-bdd:serenity-gradle-plugin:2.0.91")
        classpath("net.serenity-bd

[2020-01-27 02:53] kpkalyan commented on #207
index.html, capabilities.html & Feature file html (576***.html) is getting generated only after executing below command

gradle clean build --refresh-dependencies

If I execute single feature file thru Junit runner I could still see that any of index.html, capabilities.html or feature file report (something states with 576***.html) is not generating

[2020-01-27 06:24] wakaleo commented on #207
This is expected behaviour - the index.html file is generated when you run the aggregate goal. Is this related to the original issue (which I’m unclear as to whether it is still present)?

[2020-01-30 00:41] kpkalyan commented on #207
this worked fine when aggregate goal is completed.

thank you @wakaleo

[2020-01-30 06:31] #207 closed

[2020-02-19 16:10] byke4all opened #221 "Chromedriver"
Am trying to run a simple test with serenityWithCucumber usinh Maven and Junit but anytime i launch the browser in chrome i get a firefox driver error. below is my POM file, and setup class

`

<project xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd"

[2020-02-19 16:13] wakaleo commented on #221
That’s not really how Serenity works - take a look at https://serenity-bdd.github.io/theserenitybook/latest/web-testing-in-serenity.html

[2020-02-20 08:16] byke4all commented on #221
@wakaleo  thanks for the link, actually, i didnt want to post all my clasess to avoid long code, i have the following declared already, :

- Feature files
- StepDefinition class
- Steps class
- Page Object class.

When i run the code the browser launched in chrome quite well with the specified URL but when it want to sendkey to the username field on the page, then i get this error.

[2020-02-21 14:56] byke4all commented on #221
yeah you are right. Thank you. its working now. appreciate the link.

[2020-02-21 14:56] #221 closed

[2020-03-03 09:55] arm235 opened #222 "Unable to generate capabilities.html file in serenity BDD framework report. Need help."
![capabilities](https://user-images.githubusercontent.com/56991912/75763935-198c6c00-5d63-11ea-8498-726bd56078c3.png)

[2020-03-05 23:45] onlybiju commented on #102
I am facing the same problem, I did instantiate the my class but still getting the exception
"Failed to instantiate class com.stepdefinition.TestAutomationsteps - this class doesn't have an empty or a page enabled constructor."
The same if i run it in my local machine it works fine. But when I run the same in Jenkins it gives me the exception.
Here are all my Serenity version info
  testCompile 'n

[2020-03-12 21:55] amitasil opened #223 "Serenity Test Report is not showing any test data and graphs"
otal tests executed in Jenkins build: 116

serenity-maven-plugin:2.1.8:aggregate (serenity-reports)

maven-failsafe-plugin:2.22.2:verify

<img width="919" alt="TestResult" src="https://user-images.githubusercontent.com/26156829/76569954-62cd8000-6508-11ea-9759-61b2b5914af9.PNG">

[2020-03-12 21:58] wakaleo commented on #223
We can do nothing with a report like this. Try doing a clean build and checking that you are using the correct versions. How do you know 116 tests are executed? Did you see the Serenity banner in the console output?

[2020-03-12 22:00] amitasil commented on #223
Hi @wakaleo , Yes I checked the test count in my console log. I'll do a cleanup build and see if that fix the issue. However, when I ran the same build with only two tests, I can see the report generated successfully and with data and graphs.

This is my pom.xml:

<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-i

[2020-03-13 03:15] amitasil commented on #223
Hi, @wakaleo I tried running a cleanup build and then ran the whole test suite, but again I get the same report with no test data or graphs.
Looking at my pom.xml, can you please suggest if I am missing something?

If I run the test suite with a fewer number of tests, then I am able to see the report with data and graph in it. Is it the high number of tests failing the report?

[2020-03-13 11:00] wakaleo commented on #223
I've seen Serenity reports with 5000 tests, so the size isn't an issue. I can't see any issue with the pom; check for errors in the logs and possibly for Gherkin syntax errors in your feature files.

If you want parallel execution I would advise moving to cucumber 4 and serenity-cucumber4 as this has built-in support for parallel tests.

[2020-03-17 01:08] amitasil commented on #223
Hi @wakaleo, thanks for your inputs!

This is what I have tried so far:

- I have checked all my feature files and I did not find anything related to the syntax error, so all good from that point.

- Looked into logs but nothing found specific to the report generation error.

- Tried running my 116 tests in batches of 4 features at a time and reports are generating fine.

- Tried running the whole

[2020-03-17 08:12] wakaleo commented on #223
I can't see anything here. It could be a project-specific issue - are you sure there are no exceptions in the log files?

[2020-03-18 03:38] amitasil commented on #223
Hi @wakaleo,

No errors related to reports in the console log.
Is there any other way to get more logs or to see a different place for the logs?

**Console log snapshot:**
[INFO] --- serenity-maven-plugin:2.1.8:aggregate (serenity-reports) @ DTM ---
[INFO] Test results for 116 tests generated in 5.1 secs in directory: file:/C:/Program%20Files%20(x86)/Jenkins/jobs/GRIS/workspace/target/site/serenit

[2020-03-18 07:57] wakaleo commented on #223
Try running maven with the -eX options. It could be a project or environment-specific issue, in which case I would need to look at the project source and Jenkins machine.

[2020-03-18 10:17] amitasil commented on #223
Hi @wakaleo, I have given you permission to view my repository (https://github.com/amitasil/GRIS_DTM_TEST.git) so that you can look at the project source. The issue is not with Jenkins it seems as even on my local computer I am getting the blank report if I run the whole test suite.

Attaching the logs after running the full test suite by shutting down my Selenium Grid.
[log.txt](https://github.co

[2020-03-20 09:08] gopal3008 commented on #37
[31mGiven [0m[31mthe [0m[31m[1mprofile_sysadm[0m[31m is on calender Page[0m [90m# CampaignCreationStepDef.the_user_is__on_calender_Page(String)[0m
      [31mjava.lang.AssertionError: net/thucydides/core/ThucydidesSystemProperty.SERENITY_INCLUDE_ACTOR_NAME_IN_CONSEQUENCES
	at net.serenitybdd.screenplay.ErrorTally.throwSummaryExceptionFrom(ErrorTally.java:36)
	at net.serenitybdd.screenpl

[2020-03-20 16:49] pra55kash opened #224 "@After step not working"
I use 2.0.40 cucumber serenity version.

Exception occur in a step.
Code reaches @After, but step called in it not working at all. pls help

[2020-03-28 15:31] Bhala1987 commented on #143
Even I could reproduce the exact same issue
Feature filename: features/getFeeQuote.feature
Feature: To validate the merchant api getFeeQuote

In the serenity report, I'm getting as follows:
![image](https://user-images.githubusercontent.com/29075298/77826744-25bcdc80-7109-11ea-8a92-2325490c120b.png)

[2020-03-28 15:34] wakaleo commented on #143
Can you provide a sample project?

[2020-03-28 15:39] Bhala1987 commented on #143
@wakaleo here you go for the command and see attached: mvn clean verify -Denv="https://merchantapi.taal.com/"
[merchant_api.zip](https://github.com/serenity-bdd/serenity-cucumber/files/4397376/merchant_api.zip)

[2020-03-30 05:42] amitasil commented on #223
Hi @wakaleo, Did you get a chance to look into the issue or my project?

[2020-04-01 12:15] alvigo92 opened #225 "Cucumber5 incompatibility"
The package serenity-core (version 2.2.0) has been updated to work with Cucumber 5.5, but the class `CucumberWithSerenity` is still using some java classes from older versions of cucumber, making it imposible to be used.
![image](https://user-images.githubusercontent.com/61313189/78135965-17313680-7423-11ea-98fd-d7e184ff7dcb.png)

[2020-04-01 12:23] wakaleo commented on #225
Cucumber 5 has changed some of the class locations - just delete your imports and reimport.

[2020-04-01 12:53] alvigo92 commented on #225
I have already done what you said on my project files, but i am having problems with that file, that actually is from this project.

[2020-04-01 13:05] wakaleo commented on #225
Ah, I see. serenity-core 2.2.0+ is only compatible with Cucumber 5, so must be used with serenity-cucumber5 (https://github.com/serenity-bdd/serenity-cucumber5). This repo is for Cucumber 2.x, which is deprecated.

[2020-04-01 13:11] cliviu commented on #225
it will be this class https://github.com/serenity-bdd/serenity-cucumber5/blob/master/src/main/java/net/serenitybdd/cucumber/CucumberWithSerenity.java

[2020-04-01 13:30] alvigo92 commented on #225
Ok. With that version my project compiles fine. But the glue is not working properly. As far as i have read, the cucumber options, have changed. How am i supposed to do it? Actually i am using them like this:

`@CucumberOptions(
    features = {"directory"},
    plugin = {"pretty", "html:target/cucumber", "json:target/cucumber-report.json"},
    glue = {"package1", "package2"})`

I am talking abou

[2020-04-01 13:31] wakaleo commented on #225
You can ignore that warning for now.

[2020-04-01 13:32] alvigo92 commented on #225
The problems I have is that the steps from package2, are being ignored.

[2020-04-01 13:36] wakaleo commented on #225
I don't think the warning is related to the @CucumberOptions annotation - its about how you pass options through on the command line.

[2020-04-01 13:43] alvigo92 commented on #225
Ok. I will work on it, and try to find out whats going on. Thank you very much.

[2020-04-01 13:43] #225 closed

[2020-04-02 16:30] mi-akram commented on #219
We are also experiencing a significant slowdown after updating to the latest versions of serenity.
We were previously using:
name: 'totp-generator_2.11', version: '0.19.0'
name: 'serenity-core', version: '2.0.48'
name: 'serenity-junit', version: '2.0.48'
name: 'serenity-rest-assured', version: '2.0.48'
name: 'serenity-cucumber', version: '1.9.37'

The total execution time for a test using the abov

[2020-04-02 19:13] wakaleo commented on #219
Can you isolate a specific version change that causes the problem? Also, do you have any REST tests?

[2020-04-03 09:57] mi-akram commented on #219
I can confirm we do have REST tests, but the test above is just a front end test, no REST APIs are called during the test.

With regards to specific version I am experiencing the issue with latest versions. Finding the issue in the specific issue would take a long time to isolate as it would require checking through every version from where it was working fine.

[2020-04-03 10:00] wakaleo commented on #219
It’s probably the ByteBuddy initialisation for the REST integration then. If it’s a fixed time at the start of the tests, then it’s probably normal and there is not much we can do.

[2020-04-03 10:08] mi-akram commented on #219
We can also see a bit of a slow down when actually driving the test through the browser. i.e. navigating to certain pages etc.

[2020-04-03 10:10] wakaleo commented on #219
Without the exact version change this will be very hard to diagnose. Have you tried with and without screenshots?

[2020-04-03 10:21] mi-akram commented on #219
Disabling the screenshots within the serenity.properties file did make a little improvement but still returning to the the level to what I would expect - (version used without the potential issue).

Also when running the REST APIs test the screenshots change has not made much of a difference. Does the ByteBuddy initialisation cause a delay at the start of the test run, or before each and every tes

[2020-04-03 10:24] wakaleo commented on #219
ByteBuddy causes a delay at the start of the test run only. Feel free to dig into the code to troubleshoot if you would like to propose a fix.

[2020-04-10 12:53] qand90 commented on #146
@wakaleo , how to implement shared context  then?
This was common practice for such cases.

@Inject
public StorePageSteps(TestContext context){
    this.testContext = context;
    storePage = testContext.getPageObjectManager().getStorePage();
}

[2020-04-16 17:38] romerobu commented on #223
@amitasil hI! I recently faced the same issue. I discovered through the logs that individual html report for each test (debug log) were being generated, however the index.html was missing the pie and the results but when I navigated to requirements (upper tab) I had requirements data related to an old execution for an old tag. I tried to execute then with the old tag and report was OK. My serenity

[2020-04-18 13:17] baligit opened #226 "Error on my first serernity with appium: this class doesn't have an empty or a page enabled constructor"
Hallo all,

i am trying to build my Test on Serernity with Appium using cucumbar. I am trying to do a simple test Calculator. Unfortunately my program failed with the follwing error: _Failed to instantiate class implementSenario.Stepdefcalulator - this class doesn't have an empty or a page enabled constructor"_

This is my Stepdefcalulator class:
package implementSenario;

public class Stepdefcalu

[2020-04-18 13:26] wakaleo commented on #226
How are you using the Stepdefcalulator  class?

[2020-04-18 13:50] baligit commented on #226
I am unsing Stepdefcalulator on my following Testrunner:

@RunWith(CucumberWithSerenity.class)
@CucumberOptions(features = "src/test/resources/feature")

public class MyTestRunner {
    @Managed(driver = "appium")
    public WebDriver driver;

     @Steps
    Stepdefcalulator testerTow;

    @Test
    public void second_test(){
        testerTow.i_am_on_the_calculator_app();
        testerTow.i_cl

[2020-04-18 13:56] wakaleo commented on #226
@Steps is for step library classes, not for page objects - you don't need an annotation for page objects. It looks like you are mixing step definition methods, glue code and page object logic in one class. Have a look at the docs (https://serenity-bdd.github.io/theserenitybook/latest/index.html) to see how Serenity code is intended to be layered.

[2020-04-20 06:50] sricharanya commented on #225
The warning resolves once the command line options are passed in the newer format. e.g. -Dcucumber.fiter.tags ="@some_tags" -Ducucumber.filter.name="^My test scenario$"

[2020-04-20 12:08] kreigy1310garg commented on #143
@wakaleo I am able to replicate the same issue on windows 10. Even without dots if you provide simple name e.g. DataFormTemplate.feature then the same happens with version 2.2.0 using cucumber5.  Following version has been used in the project

 serenityCoreVersion=2.2.0
serenityCucumberVersion=2.2.0
cucumberCoreVersion=5.5.0

Attaching the screenshot for the same.
![Screenshot](https://user-images

[2020-04-20 17:55] kreigy1310garg commented on #143
@wakaleo even it is replicable on version 2.2.1 with cucumber 5

[2020-04-20 20:29] giddasriram opened #227 "If a scenario fails due to an exception then for the next scenario WebDriver is not initialised(getDriver() is shown as Unitialised WebDriverFacade)"
Hi
I have written multiple scenarios is a feature file, when one of the scenarios fails due to an exception then for the next scenario webdriver is not instantiated/enabled. When I've set a break-point at getDriver() in PageObject then it is shown as "Uninitialised WebDriverFacade".

I've tried to set the Driver using the below ways but it still did not work.
ThucydidesWebDriverSupport.getDriver()

[2020-04-20 21:09] wakaleo commented on #227
That doesn’t sound normal behaviour - can you provide a sample project that reproduces this?

[2020-04-20 21:09] wakaleo commented on #227
That doesn’t sound normal behaviour - can you provide a sample project that reproduces this?

[2020-04-20 21:37] giddasriram commented on #227
Hi
Thanks for the quick response, I've debugged further and found that the issue is happening because in the below method of WebDriverFacade.java, isEnabled is being returned as false because "aStepInTheCurrentTestHasFailed()" is being returned as false. I guess this is somehow retaining the failue from previous scenario. I've gievn my runner class and serrenity property files at the end.
public v

[2020-04-20 21:40] wakaleo commented on #227
`aStepInTheCurrentTestHasFailed()` is cleared at the start of each scenario - are you sure there isn't a step that is failing in your scenario each time?

[2020-04-20 21:49] giddasriram commented on #227
Yes there are no failures before starting the scenario, In fact just for debugging purposes I've made sure I only have 1 step in each scenario and I was trying to open the browser in the method tagged with @Before, first launch worked fine but after a failure it did not work.
@smoke @DR-Accounts-01 @DR_Account_Creation_01
  Scenario: Create an IAS account through API calls
    And I verify the "ac

[2020-04-20 21:53] wakaleo commented on #227
Can you provide a sample project to reproduce the issue? Otherwise, you can try placing a breakpoint and inspecting `StepEventBus.getEventBus().getBaseStepListener().latestTestOutcome().get().getFailingStep()` to see what the actual failure is.

[2020-04-22 12:40] giddasriram commented on #227
Hi
Thank you for responding to my previous issue.
I am working on a new issue i.e. I have a class variable of PaymentContext marked with @Shared in two different StepDef files. The paymentContext is getting populated and retaining values as long as the execution is in InboundPaymentEventsStepDefs file but once the execution moves to RStudioStepDefs paymentContext is being reset and all the values

[2020-04-26 19:49] arpitsinghmrt commented on #143
@wakaleo I am also facing the same issue with Cucumber5

[2020-04-26 20:14] wakaleo commented on #143
This appears to happen if your feature files are at the root directory of src/test/resources. The workaround (and recommended practice) is to organise your feature files in subdirectories according to functional groups or capabilities, or in some other way that makes sense for the living documentation.

[2020-05-02 01:03] BladimirMolina commented on #143
Esa es la solución, cree dentro del repositorio src/test/resources otro repositorio y moví los archivos .feature src/test/resources/PaginaPrincipal, listo funcionó. Gracias.

![image](https://user-images.githubusercontent.com/23042452/80851328-b98d3700-8be6-11ea-8388-abfae31d9679.png)

[2020-05-06 13:59] alfeducor2 commented on #143
Hi @wakaleo  I am having an issue as a consequence of moving the .feature files in subdirectories:
![image](https://user-images.githubusercontent.com/63019066/81184331-239a3900-8f65-11ea-8998-2fc590519bc6.png)
After I moved the .feature files I am getting warning for all the Scenario's steps
**"Step 'xxxxxx' does not have a matching glue code".**
If I run my automation suite it works fine just the

[2020-05-06 14:34] wakaleo commented on #143
If the tests run correctly it is probably an Eclipse caching issue. I'm not familiar with Eclipse, but rebuiding or reimporting the project might help.

[2020-05-06 14:36] alfeducor2 commented on #143
Sounds good, I will try that. Thanks!

[2020-05-06 15:11] BladimirMolina commented on #143
Hi @alfeducor2

The problem is not the folder that was created and where you stored the features:
![image](https://user-images.githubusercontent.com/23042452/81191509-b98e8d80-8f7e-11ea-82eb-dac1644e65d6.png)
This is Good

use: features = "src/test/resources/features/" (This searches for all the features independent of the child folders. Clean Code), use tags for execution.

Try redirecting the gl

[2020-05-07 01:42] alfeducor2 commented on #143
Thanks @BladimirMolina, sorry for the delay, I was trying but not able to make it work, so I had to go back to previous serenity builds:

<serenity.version>2.1.5</serenity.version>
<serenity.maven.version>2.1.5</serenity.maven.version>
<serenity.cucumber.version>1.9.5</serenity.cucumber.version>

This is the structure of my project:
![image](https://user-images.githubusercontent.com/40179266/81245

[2020-05-07 02:19] BladimirMolina commented on #143
Me alegra que haya podido solucionar el inconveniente, sin embargo es un poco frustrante que no se haya podido solucionar el problema con la última versión.

Si gusta me puede enviar el proyecto (el que no funciona) y lo reviso para mirar que es lo que está ocurriendo.

I'm glad you were able to fix the issue, however it is a bit frustrating that you were unable to resolve the issue with the lates

[2020-05-08 10:02] cvarshn-cloud opened #228 "Serenity summary report not generated with tag types added serenity.properties"
report.customfields.ApplicationVersion=5.6
report.customfields.Environment=Integration
report.customfields.OperationSystem="Windows 7"
report.customfields.ReportType="High-Level"
report.tagtypes=capability,feature,tag

![image](https://user-images.githubusercontent.com/64752051/81395285-f99d6e00-9140-11ea-93c3-6b8d8103559f.png)

[2020-05-08 12:44] baligit opened #229 "Failed connection Serenitywithcucmber to Appiumserver"
Hall all,
i write a automation test for an android app unsing serenitywithcucmber and appium server. If i write on command `mvn verify clean`, i have got the following error.

 And my appiumserver do not get the capalitiy, that is wroten in serenity.properties. By runnig the serenitywithcucumberrunner i have got the same error.
this is my pom.xml
[code]

[2020-05-08 13:17] wakaleo commented on #229
Have you tried with a more recent version? The Appium APIs tends to change quite a bit.

[2020-05-08 15:43] baligit commented on #229
I habe tried with the recent appium v1.17.0. but i i received the same error.

[2020-05-08 15:44] wakaleo commented on #229
That won’t work either. You will need to upgrade Serenity, otherwise it will be very hard to help.

[2020-05-08 15:48] baligit commented on #229
Contained the serenity-cucumber v1.9.31 the dependencies to io.appium.java_client.AppiumDriver?

[2020-05-08 15:59] wakaleo commented on #229
I don't understand your question.

[2020-05-08 16:07] baligit commented on #229
I do not have worte in my pom.xml any dependencies of io.appium.java_client.AppiumDriver. So my question ist, if the serenity-cucumber include the io.appium.java_client.AppiumDriver or shall i to add the dependencies separate in pom.xml

[2020-05-08 16:09] wakaleo commented on #229
serenity-core will include the appropriate version of appium.

[2020-05-08 16:14] baligit commented on #229
I tried with v1.6.13 of serenity-cucumber. but i have got the error: NoClassDefFound io/appium/java_client/FindsBy.

[2020-05-08 16:15] wakaleo commented on #229
https://github.com/serenity-bdd/serenity-core#what-is-the-latest-stable-version-i-should-use

[2020-05-08 17:06] baligit commented on #229
[code]

[2020-05-08 17:07] baligit commented on #229
I commented the full error. Maybe it is help to verify the issue.

[2020-05-14 12:51] baligit commented on #229
Succesfully fix it. The error caused by missing appium.app ="PATH" on serenity.properties. I update the pom.xml as follow:
[code]

[2020-05-15 18:09] alfeducor2 commented on #143
Hi @BladimirMolina , sorry for the delay. Here is my project in case you still have some time to take a look. As a summary, project works fine, only problem is that I get warning in the feature files like:
Step 'user started the automation' does not have a matching glue code for all the steps

[Project_Latest_Serenity.zip](https://github.com/serenity-bdd/serenity-cucumber/files/4636259/Project_Lat

[2020-05-17 12:28] sudheerah opened #230 "Execute one BDD feature file always first"
Hi there,

Just curious whether there is way to run serenity BDD tests (maven project) in a particular order in command line.

e.g. I have three tests (feature1, feature2 and feature3) and I wanted to run those in CLI in blow order

    Feature2
    Feature1 and Feature3 (order doesn't matter)

[2020-05-17 12:29] wakaleo commented on #230
Not easily - that would imply there is a dependency between the features, which is considered a pretty big Cucumber anti-pattern. You could do it with test suites and runners, but it would be very clunky.

[2020-05-17 12:32] sudheerah commented on #230
@wakaleo Actually I was trying to implement @BeforeAll with junit. to run setup(). But apparently not working as expected. I tried few solutions. Unfortunately nothing with `serenity BDD
`
[https://medium.com/@hemanthsridhar/global-hooks-in-cucumber-jvm-afc1be13e487](url)

[2020-05-17 12:34] wakaleo commented on #230
Why not just use Cucumber hooks?

[2020-05-17 12:36] sudheerah commented on #230
Is there any sample solution you know. I was under impression it is not yet supported.

[2020-05-17 12:37] wakaleo commented on #230
https://cucumber.io/docs/cucumber/api/#hooks

[2020-05-17 12:39] sudheerah commented on #230
Not supported global hooks that I am after

[2020-05-17 12:40] wakaleo commented on #230
What problem are you trying to sovle?

[2020-05-17 12:41] sudheerah commented on #230
Need to load my all the mocks before test execution

[2020-05-17 12:42] wakaleo commented on #230
I would use @Before hooks and a ThreadLocal object.

[2020-05-17 12:43] sudheerah commented on #230
If you can send me an example will be much appreciated.

[2020-05-22 06:02] contactkrsna1 opened #231 "Run the Testsuite on multiple urls"
Hi,
i have to run1 test suite on mulitple urls
1) www.xyz.com/in/mypage.html
2) www.xyz.com/sg/mypage.html
3) www.xyz.com/au/mypage.html
Basically the content of the page is same and also the environment is same but url paths are different.I am using serenity with cucumber.
I ran the test suite on 1 page and it is woriking fine. Now, how to run the same test suite one after another on urls 1, 2, a

[2020-05-22 06:04] wakaleo commented on #231
If it is just one scenario that you want to run you would typically use a scenario outline for this.

[2020-05-22 06:13] contactkrsna1 opened #232 "To run test suite from a java main method in src/main/java"
Hi
I am using serenity with cucumber. My test suite is in src/test/resources and from a java method inside
src/main/java . can i run the test suite
src/main/java
package testrunner;
class MyTestRunner {
public static void main(String[] args) {
   // here i have to execute my TestSuite
}
}
}
 This should have the same effect of running mvn verify and generate reports.

Thanks in adance.

[2020-05-22 06:16] wakaleo commented on #232
Not easily, no.

[2020-05-22 11:33] contactkrsna1 opened #233 "Skip Scenario in the feature based upon the condition at runtime"
Hi,
i have a feature  with  3 scenarios,
Feature
 Scenario1
 Scenario2
 Scenario3
 At runtime, after executing the scenario1 my code has a logic which tell me whether to execute scenerio 2 or scenerio 3.
How to skip Or ignore the 2nd scenario at run time?

Thanks in Advance

[2020-05-22 11:36] wakaleo commented on #233
That’s not supported in Cucumber.

[2020-05-22 11:48] contactkrsna1 commented on #233
Thanks for a quick response. Is there any workaround.
My application is user profile based and there are some scenarios which are not applicable for few profiles and for admin profile are scenarios are applicable.

Thanks In Advance

[2020-05-24 17:19] contactkrsna1 opened #234 "Accept alert message and switch back to main window"
Hi,
How to achieve the below lines using serenity
getDriver().switchTo().alert().accept();
getDriver().switchTo().defaultContent();

Thanks in Advance

[2020-05-24 17:25] wakaleo commented on #234
The code you have here will behave identically in Serenity and Selenium

[2020-05-24 17:35] contactkrsna1 commented on #234
Acually i want to use  getAlert().accept(); and then move to main window. How this is done using serenity api

[2020-05-24 17:51] wakaleo commented on #234
Serenity just wraps Selenium, so you would do the same as in Selenium

[2020-05-24 17:59] contactkrsna1 commented on #234
Hi,
Oops , i did a lot of research on Serenity and I liked it. But I am not able to reach my goal

I have a feature file with 2 scenarios
Scenario 1
1. navigate to url (is a deep link)
2. redirect to login page where a alert message pops up
3 accepted the alert pop up
4 enter username
5 entered password
6 clicked login button
After login I will go(went to) the deep link page
Scenario 2
1. given th

[2020-05-24 18:03] wakaleo commented on #234
How would you do it with Selenium?

[2020-05-24 18:16] contactkrsna1 commented on #234
Hi,
in selenium we use get/navigate method

But for serenity approach below is the code

In the second scenario,

I have step defination
--------------------------------------
	@Steps
	DeeplinkStep deeplinksteps;

    @Given("I am on the deep link page")
	public void deeplink() {
		deeplinksteps.open();

	}
--------------------------------------
DeeplinkStep

DeeplinkPage deeplinkPage;

	@Step
	pu

[2020-05-24 18:19] wakaleo commented on #234
You can use getDriver() inside a PageObject or UIStepInteraction class for this

[2020-06-02 13:23] kbrahim opened #235 "How can i configure cucumber/gradle to run parallel feature files with gradle and serenity?"
I have a project where I have configured Cucumber to run scenarios in parallel, Each  scenario will run and complete but not in the right order, is there any solution to run in parallel only the feature files with gradle and serenity ?

[2020-06-10 13:04] push2212 opened #236 "starter.CucumberTestSuitejava.lang.NoClassDefFoundError: io/cucumber/java/PendingException"
Hello ,

I am using Cucumber 4 Starter and have created a custom feature file with step defs. I am getting
starter.CucumberTestSuitejava.lang.NoClassDefFoundError: io/cucumber/java/PendingException error while running. however if I run only feature file , it runs successfully. PFB stacktrace.

Please help.

-------------------------------------------------------------------------------------------

[2020-06-10 13:17] #236 closed, assigned to nobody

[2020-06-11 05:51] ManikandanSekhar opened #237 "How to make Serenity to use my custom defined Chrome Option ?"
How to make Serenity to use my custom defined Chrome Option ?

For FireFox:
I usually define as mentioned below

FirefoxProfile myProfile=new FirefoxProfile();
myProfile.setPreference("",);

Serenity.useFirefoxProfile(myProfile);
Basically the above line is going to make sure that getDriver() is going to assigned with that properties

I would like to know How to make Serenity to use my custom defi

[2020-06-11 08:46] arm235 opened #238 "Why my report not generating Features tab and also not generating anything in Requirement- Specifications"
Why my report not generating Features tab and also not generating anything in Requirement- Specifications

Please find below my pom.xml:

`<project xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>

	<groupId>Serenit

[2020-06-11 08:49] wakaleo commented on #238
It won't be related to your pom.xml file; more likely something to do with your project directory structure. Have a look at https://github.com/serenity-bdd/serenity-cucumber-starter and model your project structure on that example.

[2020-06-11 08:53] arm235 commented on #238
@wakaleo Thanks for the response. Below is my project structure. I will compare with the one you shared.
![image](https://user-images.githubusercontent.com/56991912/84365306-e3c31300-abee-11ea-8a96-278003cd6f4f.png)

[2020-06-11 08:57] wakaleo commented on #238
Feature files should go in `src/test/resources/features`, not in `src/test/java` (which is for Java source code)

[2020-06-11 09:03] arm235 commented on #238
Yes, Thank you. I have modified it. But why there is no any data coming.
![image](https://user-images.githubusercontent.com/56991912/84366465-7adc9a80-abf0-11ea-806f-5cd21d46bf14.png)

Thanks in advance.

[2020-06-11 09:04] wakaleo commented on #238
Start with the starter project and migrate your feature files and classes to this structure.

[2020-06-11 09:04] wakaleo commented on #238
Start with the starter project and migrate your feature files and classes to this structure.

[2020-06-11 09:27] arm235 commented on #238
This project can be run with Maven or gradle then can we import in eclipse as gradle or maven?

[2020-06-11 09:53] arm235 commented on #238
@John can we convert above project to serenity-screenplay pattern? Will it be more difficult?

[2020-06-11 10:06] wakaleo commented on #238
See https://github.com/serenity-bdd/serenity-cucumber-starter/blob/screenplay/README.md

[2020-06-11 11:15] arm235 commented on #238
It worked great! Thank you so much :) Closing this issue.

[2020-06-11 11:16] #238 closed

[2020-06-11 14:25] push2212 opened #239 "Tests getting skipped/not getting executed with multiple tags"
Hello  ,

I am trying to run 2 scenarios in same feature file as a maven goal.

clean verify -Dcucumber.options="--tags '@TC001 and @TC002'"

Single tag runs successfully , however more than one creates an issue. I went through all Serenity Cucumber issues and tried all possible ways ,  however could not resolve the issue.

Please help.

------------------------------------------------------------

[2020-06-11 16:26] wakaleo commented on #239
Try `clean verify -Dcucumber.options="--tags '@tc001 or @tc002'`

[2020-06-11 18:20] push2212 commented on #239
It worked 💯 , thanks a lot , I have been looking for solution for so long. Closing the issue now.

[2020-06-11 18:20] #239 closed

[2020-06-26 09:25] arunahk commented on #230
@sudheerah use TestNG as runner and use @BeforeSuite?

[2020-06-29 11:32] push2212 opened #240 "Duplicate features names appearing in reports"
Hello ,

All my features are displayed twice in the test reports . Could you help me what I might be missing or its an issue.
No feature files have been duplicated .

PFA the screenshot.
![image](https://user-images.githubusercontent.com/30898556/85999756-42c7bb00-ba2a-11ea-8b47-5236ec6ac741.png)

[2020-06-29 11:33] wakaleo commented on #240
It’s a known issue - organise your feature files in subdirectories by capability

[2020-06-29 12:35] push2212 commented on #240
thanks john , also , while I am trying -Denvironment =  dev in the maven goal . with all the base url's set in the serenity conf file, the dev url is not getting opened.
 Could you suggest

[2020-06-29 18:25] testifyqa commented on #228
I have also experienced this.  setting serenity.outputDirectory to a custom folder is only applied for ./gradlew aggregate but is not applied when doing ./gradlew reports (which still makes summary report in default directory of target/site/serenity)

[2020-06-29 18:36] cvarshn-cloud commented on #228
@wakaleo Can you please look into this?

[2020-06-29 18:45] wakaleo commented on #228
It’s in the backlog; feel free to dig into the code or raise a request for commercial support if you need a fix more quickly.

[2020-06-30 06:09] push2212 commented on #240
Can some one help me with the issue please

[2020-06-30 06:10] wakaleo commented on #240
This sounds like a different issue - I'm not clear on what you are trying to do.

[2020-07-06 08:54] arm235 opened #241 "Unable to execute project Tests with latest serenity , cucumber version"
My project is using below versions for serenity and cucumber:

                 <serenity.version>2.0.91</serenity.version>
		<serenity.maven.version>2.0.91</serenity.maven.version>
		<serenity.cucumber.version>1.0.30</serenity.cucumber.version>
		<cucumber.version>4.8.0</cucumber.version>
		<logback.version>1.2.3</logback.version>

If I set it to latest version as mentioned below unable to execut

[2020-07-06 09:03] wakaleo commented on #241
Version 2.2.8 needs serenity-cucumber5 (see https://github.com/serenity-bdd/serenity-cucumber-starter)

[2020-07-06 09:20] arm235 commented on #241
It worked! Thank you so much. Closing the issue.

[2020-07-06 09:21] #241 closed

[2020-07-07 11:32] Chankami opened #242 "NullPointer Exception when use the Driver instance"
I'm using serenity cucumber starter pack. Whenever I use  WebDriver instance it throws a null pointer.
My requirement is to pass the driver to a third-party lib. When print current URL also it throws the NullPointer.
`public class ScreenShots extends PageObject {
    @Managed
    WebDriver driver;

public void capturefullPageScreenshotry()

   XX.shootPage(driver,XX.WHOLE_PAGE).save();
  System.ou

[2020-07-07 11:36] wakaleo commented on #242
That's not how Serenity works. You don't use the @Managed annotation with Cucumber, and you don't place a driver field in a Page Object class. Have a look at https://serenity-bdd.github.io/theserenitybook/latest/index.html.

[2020-07-07 15:17] Chankami commented on #242
Thanks alot

[2020-07-15 06:02] push2212 opened #243 "Question: How to know previous scenario status runtime?"
Hello ,

I need to know the scenario status while in execution so that I can execute @After annotation to perform some logging.

In JBehave I have used @AfterScenario(uponType=ScenarioType.ANY,uponOutcome=AfterScenario.Outcome.FAILURE)

What can I use in Serenity with Cucumber. Please suggest.

[2020-07-15 06:07] wakaleo commented on #243
There is no equivalent of that in Cucumber.

[2020-07-15 06:11] push2212 commented on #243
Ok, thanks for the quick reply

[2020-07-15 09:16] push2212 commented on #243
one more thing , could you please tell me if I can get how the serenity catches a failure , any parameter or property that gets set when there is an exception.

[2020-07-26 16:44] adityabhargav commented on #168
Hi @qaschevychelov ,
I'm planning for building parallel tests with grid services with SERENITY CUCUMBER BDD (Appium android + selenium combined).

So. is there any documentation regarding it or Kindly plz assist on this.,

Mail Address: adi369aditya@gmail.com

[2020-07-26 16:58] qaschevychelov commented on #168
Hi @adityabhargav
What test runner are you going to use?
TestNG or JUnit?

[2020-07-26 23:00] adityabhargav commented on #168
Hi @qaschevychelov .,

im using Serenity Test runner

ex:- @RunWith(CucumberWithSerenity.class)

[2020-07-27 04:44] qaschevychelov commented on #168
Try this https://cucumber.io/docs/guides/parallel-execution/
And https://appiumpro.com/editions/28-running-multiple-appium-tests-in-parallel
And https://appiumpro.com/editions/54-using-appium-with-selenium-grid

[2020-07-29 19:03] varmavg opened #244 "need help with Serenity Rest API Scenario"
Good afternoon,
  I am using cucumber serenity (serenity-rest-assured) for testing my Rest API and I ran in to an issue with a specific scenario. Hope I get some help here.

I need to drill in to 2 levels via Reset API and validate the response (scenario as mentioned below).

In serenity RestAPI --> executing first API (Providing 1st Header, Body and Post URL) --> from response body getting some v

[2020-07-29 22:12] varmavg commented on #244
After the post i did some more testing and here is what i found. Looks like when i was writing data to Json i was using as below file .write which is updating the file as expected but it looks like its not the same as "open file --> write something --> save the file."

File writer code:

try (FileWriter file = new FileWriter("pathtofile/test.json")) {

                file.write(jsonObject.toJSONS

[2020-07-30 20:29] varmavg commented on #244
As far as i checked the Serenity restassured internal code looks like serenity is copying all the files to cache first and then processing --> looks like any updates to the json files during run time it is not picking up in my case (still picking up from Cache rather than picking up from file system).

Any Alternative workaround solution would be appreciated.

[2020-07-30 20:34] wakaleo commented on #244
Maybe use RestAssured directly for that code?

[2020-07-31 15:45] varmavg commented on #244
thanks John, is there a sample code that you can point me to ?

the reason why i am asking is in serenity its very easy to pass the parameters from Jenkins/Feature file to a property file and it updates the Json file using mergeFrom template (MergeFrom.template("RestBody/BodyJSONPath"))). looks like now i may have to write a bit of code to do this.

[2020-08-02 22:38] varmavg commented on #244
hi John,
             For now i wrote custom code to merge the the information which is coming from UI/Feature file, property file and Json file accordingly. I got it working but code is not pretty.

is it possible to get a code fix for this issue in next release?  thanks in advance.

thanks
vinay

[2020-08-02 22:45] wakaleo commented on #244
I’m not really clear on where a fix would go. Could you propose a PR?

[2020-08-04 13:44] varmavg commented on #244
I am afraid I will not be able to propose a PR (as I am not an expert in Java). But I can give you an example/scenario where this issue is occurring (as per my analysis).

One thing I like about this simple serenity RestAPI framework (than restassured) is we don’t have to write too much code and worry about updating nested json object on the fly (as its done internally).

**Problem :**

Execute a

[2020-08-04 13:48] wakaleo commented on #244
I'd need to spend some time on this. Are you able to get your company to raise a support ticket for this?

[2020-08-04 13:58] varmavg commented on #244
i dont know the process here but will find out from my peers and see.

[2020-08-05 14:27] varmavg commented on #244
FYI i checked with my peers and looks like we don't have any support contract with Serenity.  i guess my company will not be able to raise any request.

again thanks for your time. for now i wrote my own code to read the updated json and send the request.

[2020-08-06 13:55] cvarshn-cloud opened #245 "How to override driver instance created by @Managed annotation"
@Managed(driver = "chrome", options = "--incognito")
    public static WebDriver chromeIncognitoDriver;

@wakaleo I want to override this driver, how to do that, not able to find any way.

[2020-08-19 15:43] Chankami commented on #143
Hi @wakaleo , @alfeducor2 ,
Im also facing  the same issue, using cucumber 5.
My folder structure is like below
src/test/resources/features/
POM
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <serenity.version>2.2.9</serenity.version>
        <serenity.maven.version>2.2.9</serenity.maven.version>
        <serenity.cucumber.version>2.2.5</serenity.cucumber.versio

[2020-08-19 15:49] wakaleo commented on #143
It's a known issue in the backlog.

[2020-08-19 15:53] Chankami commented on #143
@wakaleo thanks for the quick response, any workaround without downgrading?

[2020-08-19 15:59] wakaleo commented on #143
Yes, place your feature files in subdirectories of the src/test/features directory (e.g organised by capability or high level functionality)

[2020-08-20 08:56] Chankami commented on #143
@wakaleo thanks a lot it working now

[2020-08-20 22:03] varmavg opened #246 "how do we pass edge option from serenity.property file ?"
We are getting pop up message “we couldn’t load the extensions from:” when trying to open Edge (chromium).

We handled this in chrome like  chrome.switches = -disable-extensions

Just wondering if there is there anything equivalent to chrome.switches  in Edge chromium to provide options in sereity.properties ?

![popup](https://user-images.githubusercontent.com/49928330/90830261-5b0fd400-e30f-11ea

[2020-09-03 16:12] Madhav1357 opened #247 "I am not able to generate cucumber extent reports"
getting error : java.lang.NoSuchMethodError: cucumber.runtime.formatter.PluginFactory.isStepDefinitionReporterName(Ljava/lang/String;)Z
 my pom.xml:

<project xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">
	<modelVersion>4.0.0</modelVersion>
	<grou

[2020-09-10 12:53] ShayanAhmad commented on #143
![image](https://user-images.githubusercontent.com/8291104/92731183-0d6a1280-f375-11ea-9ee2-47160f04702b.png)
Hi @wakaleo ,
I have the `features` in this (referring to the screenshot) file structure. Still I get duplicate ATs in my `cucumber-reports` on Jenkins with different time durations.

[2020-09-14 06:27] Chelinadevi commented on #143
Hi,

[main] WARN io.cucumber.core.plugin.SerenityReporter - Feature from ******/loginAPI.feature is not under the 'features' directory. Requirements report will not be correctly generated!
The folder structure is shown below:

![image](https://user-images.githubusercontent.com/67306809/93050818-29c1c400-f681-11ea-8a80-73917bf9dad1.png)

The following is what I'm seeing in the report:

![image](htt

[2020-09-14 06:40] wakaleo commented on #143
The workaround is in the comments above.

[2020-09-27 19:57] cvarshn-cloud commented on #245
Resolved

[2020-09-27 19:57] #245 closed

[2020-09-27 20:01] cvarshn-cloud opened #248 "How to pass relative path for webdriver.chrome.driver in serenity properties"
@wakaleo @jeffjensen @ereticul @YamStranger @cliviu

 I need to set relative path for chromedriver in serenity property file.

My chromedriver.exe file is in location D:/master/drivers/win32/chromedriver/85.0.4183.87/chromedriver.exe

I want to navigate to driver file skipping version folder as version will be updated?

Please help me on this issue?

[2020-09-28 16:28] Can-Ali opened #249 "Can I use multiple Custom Drivers?"
Hello,

I need to use different custom drivers. I want to create 3 custom drivers, but not sure how to assign them in serenity.confog file and in maven commend.

Your suggestions will be appreciated.

Thanks.

[2020-10-02 09:01] #249 closed

[2020-10-23 16:37] Chelinadevi commented on #246
Hi,

I am working on serenity framework for UI automation, and I need to run my test on Edge browser as well, there are few which I am facing when I run on edge browser. I am using msedgedriver.exe(Chromium)
The error i am getting is could not instantiate Webdriver.

Could you pls help with the edge options that I need to use in serenity properties file?

Thanks in Advance

[2020-11-01 21:13] skurlow opened #251 "Is there a way to get all Tags of the currently running scenario in Before step?"
I have a method annotated with @Before and what I do in that method is manipulate the web driver. Some of our feature scenarios interact with a browser and some do not and only via REST APIs. I do not want the browser to open for scenarios that do not require it so I thought if I could get access to the tags of a scenario and I define a reusable scenario called NO_BROWSER then for those scenarios

[2020-11-28 18:39] ChakravarthiS opened #252 "Overall results pass even the one of the step failed"
Hi ,

I am using Cucumber with Serenity. In one of the scenario, i have a failed step but overall scenario result is passed in Serenity reports. Please find the versions I am using.

        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
        <serenity.version>2.3.6</serenity.version>
        <serenity.maven.version>2.3.6</serenity.maven.version>
        <serenity.cucumber.v

[2020-11-28 18:40] wakaleo commented on #252
Can you provide a project that reproduces this behaviour?

[2020-11-29 07:46] ChakravarthiS commented on #252
Hi Wakaleo,

The issue i have faced is because of target folder refresh. Sorry for the trouble. I am closing the ticket.
Thank you for the quick response.

Thanks,
Chakri

[2020-11-29 07:46] #252 closed

[2020-12-31 20:08] a-en commented on #143
@cliviu seems that your changes in context of this issue has broken correct report generation in our case. I'm referring to commit 0db4b3e and changes in `elementsOf` method of `LastElement` class.
Let me provide the interim results of my research.
Let's say we have following structure of tests (with `serenity.requirement.types` set as "service,feature,suite"):

 - package1
   - package2
      - s

[2021-01-01 16:14] cliviu commented on #143
hey @a-en . Can you please help me with a small project to reproduce this issue ? Thanks !

[2021-01-04 16:14] a-en commented on #143
hi @cliviu , sure thing - please take a look on [this](https://github.com/a-en/serenity-broken-report) repo. You could get report generated with `mvn clean test`. Once report is generated, please take a look on 'Features' list on the index page and then check separate tabs (Services, Features, Suites). If you want to compare that report with the one, which we were getting previously, you could rol

[2021-01-18 17:15] #204 closed

[2021-01-21 03:00] Moukthika12072018 opened #253 "Want to know how set chrome preference for auto download the pdf files instead of viewing"
Hello Team,

I am working on BDD framework which we have been using Selenium with jbehave and serenity. I tried to use selenium robotic classes(using tab key to enable the button for 13 0r 12 iterations) to enable the **"Download PDF files instead of automatically opening them in Chrome**" but every time the iterations are changed dynamically.

So I have decided to set chrome or any other browser

[2021-01-22 17:31] krishnapemmaraju commented on #138
This is still not working , could you please suggest which version of serenity need to be used

[2021-01-22 17:35] wakaleo commented on #138
2.3.12

[2021-01-22 17:50] krishnapemmaraju commented on #138
Still facing issue , I have update pom xml with this verison

[2021-01-22 17:52] wakaleo commented on #138
Can you put a screenshot of what you see and a copy of your feature file?

[2021-01-22 18:00] krishnapemmaraju commented on #138
Thanks for the Reply

![image](https://user-images.githubusercontent.com/53334205/105527512-b2113f00-5cdb-11eb-8c2f-09f8429a4712.png)

[2021-01-22 18:01] krishnapemmaraju commented on #138
Feature File

Feature: Sample Test Feautre for Report

  Scenario Outline: Title of your scenario outline is <name>
    Given I want to write a step with <name>
    When I check for the <value> in step
    Then I verify the <status> in step

    Examples:
      | name  | value | status  |
      | name1 |     5 | success |
      | name2 |     7 | Fail    |

[2021-01-22 18:02] wakaleo commented on #138
What behaviour are you expecting?

[2021-01-22 18:02] krishnapemmaraju commented on #138
![image](https://user-images.githubusercontent.com/53334205/105527677-ef75cc80-5cdb-11eb-84bf-a108a5217184.png)

[2021-01-22 18:02] krishnapemmaraju commented on #138
I am expecting
 Title of your scenario outline is name1

[2021-01-22 18:03] wakaleo commented on #138
The title reflects what you write in the feature file. This looks like normal behaviour.

[2021-01-22 18:04] krishnapemmaraju commented on #138
But the name is not getting replaced with the parameter value

[2021-01-22 18:06] wakaleo commented on #138
It's the title of the scenario outline. If you put a variable placeholder, that's what will appear. You have 2 examples, how would Serenity know which one it should use for the title?

[2021-01-22 18:10] krishnapemmaraju commented on #138
ok , if I am having only one example for each scenario like

![image](https://user-images.githubusercontent.com/53334205/105528647-24ceea00-5cdd-11eb-8678-ce7a021a02a9.png)

[2021-01-22 18:11] wakaleo commented on #138
That's just not the way the Serenity reporting works, under no circumstances will there be any variable substitution in a scenario outline heading.

[2021-01-22 18:13] krishnapemmaraju commented on #138
thank you... what about the steps in Given and When
![image](https://user-images.githubusercontent.com/53334205/105528959-8bec9e80-5cdd-11eb-937e-e5b26d209a6a.png)

[2021-01-22 18:14] wakaleo commented on #138
It's the same principle - in a scenario outline, it makes no sense to insert any particular value into the text.

[2021-01-22 18:15] krishnapemmaraju commented on #138
I gone through some PR with the same issue and I saw it some fix has been provided for this issue

[2021-01-22 18:18] wakaleo commented on #138
It's not an issue, this is the correct, expected, and normal behaviour. That defect is referring to something else (the tags were not being rendered)

[2021-01-22 18:18] krishnapemmaraju commented on #138
Thank you for your Quick Response..

[2021-01-24 16:25] waynesinclair-rsa commented on #232
Hi,

Did you perhaps find a solution for this issue. I am having the same problem.'=

Thanks

[2021-01-24 17:23] wakaleo commented on #232
It's just not what you normally do. What problem are you trying to solve?

[2021-01-25 07:31] waynesinclair-rsa commented on #232
I have applied for a test automation job, and they have given me an exercise to do. I have to package the tests and forward to them in such a way that they can instantly see them running.

From: "John Ferguson Smart" <notifications@github.com>
To: "serenity-bdd/serenity-cucumber" <serenity-cucumber@noreply.github.com>
Cc: "waynesinclair-rsa" <wsi@netactive.co.za>, "Comment" <comment@noreply.github

[2021-01-29 18:55] szanelato opened #254 "How to run parallel tests in serenity using cucumber and gradle"
How to setup the parallelized tests with SerenityCucumber when using gradle?
How to aplly the same of this post in gradle instead maven? https://johnfergusonsmart.com/running-parallel-tests-serenity-bdd-cucumber/

Thanks.

[2021-02-03 17:58] szanelato opened #255 "Serenity reports unreadable when run in parallel"
Hi there,

@wakaleo I follow these [tutorial](https://johnfergusonsmart.com/running-parallel-tests-serenity-bdd-cucumber/) to execute my serenity project using the parallel strategy, it runs correctly although some of my tests went failed when I use this strategy. So I came to check my serenity reports to give me insights of which scenarios are failing but it is unreadable and looks like it is sho

[2021-02-03 19:03] wakaleo commented on #255
This plugin is no longer supported - use the latest version of serenity with serenity-cucumber6

[2021-04-13 19:33] cvarshn-cloud opened #256 "getting session not created: No matching capabilities found error message when running tests on selenoid"
I am running my tests on selenoid but getting no matching capabilities error as its not recognizing serenity.driver.capabilities from serenity.properties file. How to pass driver capabilities in serenity.properties file

[2021-04-15 18:17] kiranAdiga commented on #246
@varmavg were you able to run yours tests successfully on microsoft edge chromium browser successfully.?

[2021-04-15 23:31] varmavg commented on #246
yes we were able to run successful tests in Edge chromium. use edge chromium 32 bit driver (x86 version) https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/

[2021-04-16 03:53] kiranAdiga commented on #246
@varmavg Thanks for the quick response.
Can you let me know what is that you passed in serenity.conf file or anything that you would have done to run your tests on edge chromium browser using serenity .

[2021-04-16 08:01] punkratz312 opened #257 "Serenity Test Report is not showing all scenarios"
I have login feature with 3 scenarios:

![image](https://user-images.githubusercontent.com/8830888/114991726-35d16680-9e9a-11eb-90f8-50fda267cb53.png)

After clicking on login feature to see the 3 scenarios one is showed up:

![image](https://user-images.githubusercontent.com/8830888/114991823-539ecb80-9e9a-11eb-8228-73f161e23546.png)

The other scenarios get executed  with errors but they don’t

[2021-04-16 08:17] wakaleo commented on #257
I can't reproduce this, can you provide a sample project?

[2021-04-16 09:05] punkratz312 commented on #257
Same issue:

3 scenarios are shown

![image](https://user-images.githubusercontent.com/8830888/114997843-9499de80-9ea0-11eb-9179-4a161ba8b63c.png)

only 1 scenario is displayed

![image](https://user-images.githubusercontent.com/8830888/114997843-9499de80-9ea0-11eb-9179-4a161ba8b63c.png).

I provided an sample project facing the same issue:

4 senarios in preview

![image](https://user-images.gith

[2021-04-16 09:13] punkratz312 commented on #257
here the demo project: https://github.com/punkratz312/serenity_bug

[2021-04-16 09:15] punkratz312 commented on #257
Expecting 5 scnarios:

![image](https://user-images.githubusercontent.com/8830888/115002342-ecd2df80-9ea4-11eb-9960-b3f009331e78.png)

only 1 shows up:

![image](https://user-images.githubusercontent.com/8830888/115002380-f9573800-9ea4-11eb-9e18-04903cb5c1cf.png)

[2021-04-16 10:12] punkratz312 commented on #257
its working when putting all scenarios into ne feature.file:

![image](https://user-images.githubusercontent.com/8830888/115009542-ad0ff600-9eac-11eb-96b8-69ceaa30b490.png)

so the feature merge in report does not work properly imho or i did something wrong.

![image](https://user-images.githubusercontent.com/8830888/115009658-cd3fb500-9eac-11eb-9c55-cfac7d5f5b51.png)

but of course i want to spli

[2021-04-16 11:31] ebbesandslevin commented on #107
I got this error after first try:

![image](https://user-images.githubusercontent.com/47423361/115018112-c2d6e880-9eb7-11eb-91f0-8320bf8e676f.png)\

[2021-04-16 12:31] varmavg commented on #246
(1) POM.xml here is my configurations

	<properties>
		<project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
		<maven.compiler.source>1.8</maven.compiler.source>
		<maven.compiler.target>1.8</maven.compiler.target>
		<serenity.version>2.0.40</serenity.version>
		<serenity.maven.version>2.0.40</serenity.maven.version>
		<serenity.cucumber.version>1.9.31</serenity.cucumber.version>
		<t

[2021-04-17 22:58] amamgaq5 opened #258 "Requirement Tab is empty"
Hi I am new to Serenity with Cucumber and working on a project.

We have features file and other code related to serenity/cucumber in below directories

src/bdd/java
src/bdd/resources

We have serenity.conf in src/bdd/resources directory. I am trying to add readme.md under src/bdd/reources/features but somehow its not getting picked and requirement tab is empty.

Any suggestions how I can get the

[2021-04-18 08:11] wakaleo commented on #258
Use the Maven conventions:
   - ` src/test/java` for test-related code
   - `src/test/resources/features` for feature files

[2021-04-18 13:26] amamgaq5 commented on #258
Actually we don't want to use src/test/resources location. Is there a way we can override the requirements  location in serenity.conf

[2021-04-18 13:40] wakaleo commented on #258
You can try serenity.requirements.dir but I would advise against it; I don't know if it is still supported.

[2021-04-19 06:22] punkratz312 commented on #257
my bad, thanks a lot

[2021-04-19 06:22] #257 closed

[2021-04-19 06:46] punkratz312 opened #259 "Image previews renders outside the viewport"
In some scenarios when there are many steps and screenshots the preview renders outside the viewport.

![image](https://user-images.githubusercontent.com/8830888/115192626-593f2000-a0eb-11eb-9b87-d123873ea3d4.png)

[2021-04-19 06:53] wakaleo commented on #259
Feel free to take a look at the freemarker templates and the JS library used for the previews to see if you can propose a PR

[2021-04-19 15:27] punkratz312 commented on #259
thanks i will try

[2021-04-19 18:10] kiranAdiga commented on #246
@varmavg Thanks for the response.
Looks like in the latest versions of serenity ,running scenarios on chromium edge browser is not possible.

[2021-04-20 13:32] amamgaq5 commented on #258
Well it did not work thanks though for your replies. One more question is there a gradle project which I can use as reference to customize the serenity reports.

[2021-04-20 13:48] wakaleo commented on #258
Gradle has other issues with customising properties. I would recommend sticking to the conventions.

[2021-04-20 14:33] amamgaq5 commented on #258
That's an issue as my company  uses gradle .

On Tue, Apr 20, 2021, 8:48 AM John Ferguson Smart ***@***.***>
wrote:

[2021-04-20 14:44] wakaleo commented on #258
Is there a reason you can't use the standard conventions?

[2021-04-20 14:57] amamgaq5 commented on #258
@wakaleo If you are talking about keeping it under src/test/resources..we had it under that folder initially but then our QC team and Trident want us to seperate Serenity BDD related code under src/bdd directory.

Well but I think setting serenity.test.root will pick requirements from our directory.

But now I am trying to see if by any chance in gradle we can customize the reports.

Thanks

[2021-04-20 20:21] #255 closed

[2021-04-21 17:56] cvarshn-cloud commented on #256
@wakaleo Can you please look into this issue?

[2021-04-21 18:07] wakaleo commented on #256
I don't have a timeline for when I will have time to look at this, but others are welcome to pick it up. Alternatively, if it is of value for your company you could consider asking for some commercial support.

[2021-04-21 19:15] cvarshn-cloud commented on #256
@wakaleo I need info on how to pass chrome capabilities like Platform, Browser from serenity file. I tried everything but not working.

[2021-04-30 18:45] amamgaq5 opened #260 "How to shrink the Example datatable in serenity report"
We run aggregator and generate Index.html. We use Example datable to pass data to request but with increasing columns this table is big. Is there any way we can shrink this data table. Also if there a way we can enable vertical scrolling on table.

[2021-04-30 20:06] amamgaq5 commented on #260
Here is an example

Examples:
      | ACCT_KEY | orderStatus | orderStatusDsc | Account_Income | docResponseData          | PARTY_ID | TRANF_ACCT_SEQ_NBR | FCMSCaseStatus | externalStatusCode | FCMSCaseStatusChangeUserId | IncomeLogic                               | CaseStatus | ExternalStatus | letterId | memo                                                                                       |

[2021-05-19 11:52] moebius23 commented on #246
@kiranAdiga Have you tried to remove the path of the Edge webdriver of the _serenity.conf_. And put the following code in the object inheriting from PageObject and that all of your custom PageObject inherit from :

`
    static{
        System.setProperty("webdriver.edge.driver", "your/path/to/the/webdriver/msedgedriver.exe");
    }
`
It worked for me.

[2021-05-20 17:48] anweshadhal opened #261 "Not Getting the serenity BDD report properly with total counts"
I have implemented BDD cucumber with serenity. But my serenity report is not coming properly. I'm expecting as number test cases  with failed and passed count with percentage.

@wakaleo Please refer the below dependencies i have added in build.gradle as well as my runner file.

Build.Gradle:
Page-1
![Screenshot (13)](https://user-images.githubusercontent.com/56257093/119023640-d21dea00-b9bf-11eb-9

[2021-05-20 18:07] wakaleo commented on #261
Try with a more recent version: http://github.com/serenity-bdd/serenity-cucumber-starter

[2021-05-20 21:36] ibrahimkhaleel opened #262 "How to launch unique browser instance for each feature when they are associated with indidual Epic folders?"
Hi @wakaleo,

I have may project structure where there are more than 20 EPICS associated with different Feature files. Each feature has again many scenarios to perform a test.

[code]

Please check the glimpse of a structure in the below image.
![image](https://user-images.githubusercontent.com/25445287/119049148-186f4b00-b9b8-11eb-869a-106945b61aa1.png)

Currently following are the properties I h

[2021-05-20 21:44] wakaleo commented on #262
Have you tried `serenity.restart.browser.for.each=feature`? It's generally not a good idea to rely on the order of your scenarios, though - each scenario should ideally be independent and illustrate a different rule or example.

[2021-05-20 21:46] wakaleo commented on #260
Are you sure all of of these columns are necessary? Generally speaking, a well written scenario only needs a handful of columns to actually illustrate the rule in question - the rest can come from templates or generated data.

[2021-05-20 22:24] ibrahimkhaleel commented on #262
Hi @wakaleo, yes I have tried this also

serenity.restart.browser.for.each=feature

And no luck

[2021-05-21 10:53] ibrahimkhaleel commented on #262
Hi @wakaleo, could you please suggest some solution for this issue? Currently, multiple browsers (more than 40-50 instances) are hampering the test suite and as I mentioned the application requires a single user is not allowed to log in at multiple browser instances at the same time. They should run in the order they exist in a single browser at all the time.

[2021-05-21 11:47] wakaleo commented on #262
You want a single browser shared across ALL of the features?

[2021-05-21 12:15] anweshadhal commented on #261
Hi @wakaleo ,

Thanks for you quick response.

I have tried to replace the build.gradle with the one you have provided in the serenity-cucumber-starter project, but i'm getting the below error. Even i have imported the serenity-cucumber-starter project and saw the same error.

Script is running fine, with that error but reports are not coming as serenity report.(Same as i got before and raised thi

[2021-05-21 12:49] ibrahimkhaleel commented on #262
Hi @wakaleo, yes you are right.

[2021-05-21 16:30] wakaleo commented on #262
`serenity.restart.browser.for.each=feature` should do that, but it doesn't seem to work in the current version, so probably a bug.

[2021-05-21 18:44] ibrahimkhaleel commented on #262
Please let me know if you need further details from my side to resolve it.

[2021-05-22 08:55] wakaleo commented on #262
Put a breakpoint in the close() method of `WebDriverFacade` and see if you can figure out why it is restarting for each scenario - that behaviour should be prevented by the property mentioned above.

[2021-05-22 11:40] anweshadhal commented on #261
Thanks @wakaleo

I'm able to run from command line and got the aggregate report as shown in the below snapshot of my project.

![Screenshot (21)](https://user-images.githubusercontent.com/56257093/119225290-83d42c80-bb20-11eb-896a-b29cb994b566.png)

[2021-05-24 20:19] ibrahimkhaleel commented on #262
Hi @wakaleo, I have tried to debug my actual work project, but could not successful using multiple browsers due to restricted access for each user I have. However, I have created the same clone repository to reproduce this issue (using the e-commerce website as an example) in the below project. Could you please have a look at it:

git clone git@github.com:ibrahimkhaleel/serenity-cucumber-defect-re

[2021-05-24 20:40] wakaleo commented on #262
Thanks, I will take a look when I have a chance.

[2021-05-26 09:42] ibrahimkhaleel commented on #262
Good Morning @wakaleo, Could you please check this issue?

I have given a try executing my tests in a standard manner after removing all my Epic folders and moved all my _. features_ files to **resources=>features** and I still observe all features are started running on multiple browsers, instead of one by one. My properties are set to `serenity. restart. browser. for. each=feature`

Could you pl

[2021-05-26 09:51] wakaleo commented on #262
It should work but it seems to be a defect. I will look at it when I get a chance. If it is a major blocker for your project, the best option would be to get some commercial support for your company (https://johnfergusonsmart.com/serenity-bdd-mentoring/).

[2021-05-26 10:39] ibrahimkhaleel commented on #262
Hi @wakaleo, All our Dev and QA should be free and open-source tools. I am afraid the company will not approve funding for any commercial support for this. I will wait when you to fix this issue.  In the meantime could you please advise which lower version of serenity I can use where this issue does not exist? Thank you so much for your time on this issue in advance.

[2021-05-26 10:57] wakaleo commented on #262
Hey @ibrahimkhaleel open-source tools are free as in you are to use, review contribute to and enhance (that's why it is called "open source"). Support is not free, other than on a purely voluntary basis by community members. Ethical companies that use open source products very frequently support them via support contracts or training requests, so that they can get more specific value out of the pr

[2021-05-26 11:54] ibrahimkhaleel commented on #262
Hi @wakaleo my company is not asking for this fix. I am implementing Serenity BDD as a QA framework for my company projects, and I am only trying to do my job as a tester. Apologies if I have made any wrong impression here.

[2021-05-26 15:11] ibrahimkhaleel commented on #262
Hi @wakaleo , this issue is now resolved after made changes in the pom.xml file for the Maven Failsafe plugin configuration as below. There is **_no defect i_**n Serenity BDD.

[code]

For some reason, I have not paid any attention to this section after drawing my project base framework from the Serenity starter repository. Thank you so much again for your time.

[2021-05-30 06:41] ganezz opened #263 "Can we Rerun testcases for Failed Junit Test cases using Serenity Automatically?"
In Maven Build project, can we do Rerun test cases for failed Junit test cases automatically .
without using Secondry Runner class.

Is this possible can you please provide the Pom.xml file with required dependencies and Runner class .

[2021-05-30 10:50] #261 closed

[2021-05-30 10:50] anweshadhal commented on #261
Getting repot as expected

[2021-05-31 19:46] globalworming commented on #261
just out of curiosity @anweshadhal, why didn't you try a more recent version to begin with? For example if you found an old project on github or old documentation, we might want to update that.

[2021-07-05 08:01] IanHong66 commented on #87
Hi @wakaleo , may I please ask how? What's the syntax/parameter/switch to control this? Thank you very much.

[2021-07-05 08:06] wakaleo commented on #87
The same way you refer to a driver in any other part of the test code.

[2021-07-05 23:03] IanHong66 commented on #87
Hi @wakaleo , thank you very much for your quick reply. I just read your second last message again. I think now I fully understand what you mean. Yes, using driver in @after hook in "normal scenario lifecycle" has no problem, I can do clean up step (deleting test record) in it. But when test scenario fails, then the browser is closed. Even though @after hook is still called, but it has no access t

[2021-08-24 15:37] mrjcohen commented on #246
Does anyone know if this has been fixed as to be able to pass edgedriver within the serenity.config file like we do with other web drivers?

[2021-08-30 16:37] GianniGiglio commented on #254
@szanelato have a look at https://github.com/GianniGiglio/serenity-cucumber-threaded

[2021-09-21 20:10] SankalpSharmaSDET opened #264 "Chrome driver is not working after Appium Driver init"
Actor1 initialised and assigned IOSDriver  (io.appium.java_client.ios.IOSDriver)
Actor1 performs some action.
Then Actor2 is initialised and assigned ChromeDriver. But here IOSDriver is init again instead of ChromeDriver.

Although if I initialised Actor2 first then Actor1 then its working fine.

Framework components : Serenity, Cucumber, Screenplay, SauceLabs
Using : <serenity.version>2.3.4</sere

[2021-09-27 15:38] mohitb01 opened #265 "Getting error : java.lang.NoSuchMethodError: io.cucumber.core.gherkin.Feature.getParseEvents()Ljava/lang/Iterable;"
Hi @wakaleo

I am getting below issue while running my cucumber test.

java.lang.NoSuchMethodError: io.cucumber.core.gherkin.Feature.getParseEvents()Ljava/lang/Iterable;
	at net.thucydides.core.requirements.model.cucumber.CucumberParser.lambda$loadCucumberFeatures$0(CucumberParser.java:99)
	at java.util.stream.ReferencePipeline$7$1.accept(ReferencePipeline.java:269)
	at java.util.ArrayList$ArrayLi

[2021-10-12 17:16] mohitb01 commented on #265
Thanks @wakaleo, It worked after changing the all versions to 2.6.0 and using serenity-cucumber6.

[2021-11-21 06:28] juanquiceno2000 commented on #246
@moebius23 Hello could you help me please with the solution that you shared before??
I Should set this
static{ System.setProperty("webdriver.edge.driver", "your/path/to/the/webdriver/msedgedriver.exe");
 }
Where exactly??? I'm new in SerenityBDD and I need to run a couple of tests in Edge.
Thanks.

[2021-11-21 06:30] juanquiceno2000 commented on #246
No, is not working through Serenity.confing file.

[2021-11-21 07:48] moebius23 commented on #246
So in my _serenity.conf_ file, I have set "webdriver.driver = edge".

In my project, every part of the front have its PageObject inheriting from _net.serenitybdd.core.pages.PageObject_ (example: _NavigationPage_, _HeaderPage_, _ProductsPage_, and so on). But they don't inherit directly. I have an object than inherit from _PageObject_, and every specialised Page inherit from. Let's call it _MyProje

[2021-11-21 17:21] juanquiceno2000 commented on #246
@moebius23 Thank you Sir!!!!! It worked perfect!!!

[2021-11-22 17:50] juan2three commented on #246
Is there any update on this?

[2021-11-22 17:55] wakaleo commented on #246
It's an open source project: look in the code (EdgeDriverCapabilities and [WhenConfiguringEdgeOptions](https://github.com/serenity-bdd/serenity-core/blob/1f5316739594593b2b1c630c3734291752259c35/serenity-core/src/test/groovy/net/thucydides/core/webdriver/edge/WhenConfiguringEdgeOptions.groovy), get an example working with your code, write up some documentation, and submit a PR to the documentation